@import url('https://fonts.googleapis.com/css?family=Lobster');

.compressor-container {
  border-radius: 10px;
  background-size: contain;
  background-position: top center;
  padding: 20px;
  margin: 20px 0;
}

.compressor-control input {
  margin-top: 45px;
}

.compressor-container.blue-pattern {
  background: url( '../../assets/blue_pattern.jpg' );
  font-family: Lobster;
}

.compressor-container.red-pattern {
  background: url( '../../assets/red_pattern.jpg' );
  font-family: Lobster;
}

.compressor-container.green-pattern {
  background: url( '../../assets/green_pattern.png' );
  font-family: Lobster;
}

.compressor-container.yellow-pattern {
  background: url( '../../assets/yellow_pattern.jpg' );
  font-family: Lobster;
}

.compressor-slider {
  margin-top: 40px;
}

.compressor-switch {
  margin-top: 30px;
}

.compressor-power {
  width: 15px;
  height: 15px;
  background-color: grey;
  border-radius: 50%;
  margin-top: 46px;
}

.compressor-title-container h1,
.compressor-title-container h5 {
  color: white;
  margin: 0;
  float: left;
}
